p.name{
	font-family: Quicksand, Palatino;
	color: black;
	font-weight: bold;
	margin: 110px 170px 0px 0px;
}

h1{
  color: black;
  font-family: Quicksand, Palatino;
  margin: -8px 20px 20px 0px;
  font-size: 70px;
  font-weight: normal;
}

p.click{
	font-family: Quicksand, Palatino;
	color: indigo;
	font-style: italic;
	margin: 0px 20px 0px 0px;
}

.header-bar{
	background-color: #f1f1f1;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

.header {
  overflow: hidden;
  text-align: right;
  border: 1px solid #ccc;
  height: 280px;
  background-image: url("header.jpg");
  background-color: #f1f1f1;
}

.github {
  padding: 20px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #E6E6FA;
}

.links {
  padding: 20px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #f1f1f1;
}

a{
	text-decoration: none;
	font-family: Quicksand, Palatino;
	margin: 2px;
}

a.git:link, a.git:visited{
	color: indigo;
}

a.git:hover, a:link, a:visited{
	color:green;
}

a:hover{
	color:indigo;
}
